<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

  <distributable/>

  <listener>
    <listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
  </listener>
  <listener>
    <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
  </listener>

  <filter>
    <filter-artifactId>request-capture</filter-artifactId>
    <filter-class>org.uberfire.ext.security.server.SecurityIntegrationFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-artifactId>request-capture</filter-artifactId>
    <url-pattern>*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-artifactId>UberFire Security Headers Filter</filter-artifactId>
    <filter-class>org.uberfire.ext.security.server.SecureHeadersFilter</filter-class>
    <init-param>
      <param-artifactId>x-frame-options</param-artifactId>
      <param-value>SAMEORIGIN</param-value>
    </init-param>
    <init-param>
      <param-artifactId>x-xss-protection-enable</param-artifactId>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-artifactId>x-xss-protection-block</param-artifactId>
      <param-value>true</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-artifactId>UberFire Security Headers Filter</filter-artifactId>
    <url-pattern>*</url-pattern>
  </filter-mapping>

  <!-- Basic Auth Filter for REST and Maven2 repo -->
  <filter>
    <filter-artifactId>HTTP Basic Auth Filter</filter-artifactId>
    <filter-class>org.uberfire.ext.security.server.BasicAuthSecurityFilter</filter-class>
    <init-param>
      <param-artifactId>realmName</param-artifactId>
      <param-value>KIE Workbench Realm</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-artifactId>HTTP Basic Auth Filter</filter-artifactId>
    <url-pattern>/rest/*</url-pattern>
    <url-pattern>/maven2/*</url-pattern>
  </filter-mapping>

  <!-- RESTEasy configurations -->
  <context-param>
    <param-artifactId>resteasy.scan</param-artifactId>
    <param-value>true</param-value>
  </context-param>

  <context-param>
    <param-artifactId>resteasy.servlet.mapping.prefix</param-artifactId>
    <param-value>/rest</param-value>
  </context-param>

  <!-- Note, this configuration needs to be removed with AS7 deployement -->
  <context-param>
    <param-artifactId>resteasy.injector.factory</param-artifactId>
    <param-value>org.jboss.resteasy.cdi.CdiInjectorFactory</param-value>
  </context-param>

  <servlet>
    <servlet-artifactId>Resteasy</servlet-artifactId>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-artifactId>Resteasy</servlet-artifactId>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>

  <!-- UberFire servlets -->
  <servlet>
    <servlet-artifactId>UberfireFileUploadServlet</servlet-artifactId>
    <servlet-class>org.uberfire.server.FileUploadServlet</servlet-class>
    <init-param>
      <param-artifactId>includes-path</param-artifactId>
      <param-value>git://**,default://**</param-value>
    </init-param>
    <init-param>
      <param-artifactId>excludes-path</param-artifactId>
      <param-value>file://**</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-artifactId>UberfireFileUploadServlet</servlet-artifactId>
    <url-pattern>/org.kie.workbench.KIEWebapp/defaulteditor/upload/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-artifactId>UberfireFileDownloadServlet</servlet-artifactId>
    <servlet-class>org.uberfire.server.FileDownloadServlet</servlet-class>
    <init-param>
      <param-artifactId>includes-path</param-artifactId>
      <param-value>git://**,default://**</param-value>
    </init-param>
    <init-param>
      <param-artifactId>excludes-path</param-artifactId>
      <param-value>file://**</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-artifactId>UberfireFileDownloadServlet</servlet-artifactId>
    <url-pattern>/org.kie.workbench.KIEWebapp/defaulteditor/download/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-artifactId>PluginMediaServlet</servlet-artifactId>
    <servlet-class>org.uberfire.ext.plugin.backend.PluginMediaServlet</servlet-class>
    <init-param>
      <param-artifactId>url-pattern</param-artifactId>
      <param-value>/plugins/</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-artifactId>PluginMediaServlet</servlet-artifactId>
    <url-pattern>/plugins/*</url-pattern>
  </servlet-mapping>

  <!-- drools-wb servlets -->
  <servlet>
    <servlet-artifactId>DTableXLSFileServlet</servlet-artifactId>
    <servlet-class>org.drools.workbench.screens.dtablexls.backend.server.DecisionTableXLSFileServlet</servlet-class>
    <init-param>
      <param-artifactId>includes-path</param-artifactId>
      <param-value>git://**,default://**</param-value>
    </init-param>
    <init-param>
      <param-artifactId>excludes-path</param-artifactId>
      <param-value>file://**</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-artifactId>DTableXLSFileServlet</servlet-artifactId>
    <url-pattern>/org.kie.workbench.KIEWebapp/dtablexls/file</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-artifactId>ArchiveServlet</servlet-artifactId>
    <servlet-class>org.guvnor.common.services.backend.archive.ArchiveServlet</servlet-class>
    <init-param>
      <param-artifactId>includes-path</param-artifactId>
      <param-value>git://**,default://**</param-value>
    </init-param>
    <init-param>
      <param-artifactId>excludes-path</param-artifactId>
      <param-value>file://**</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-artifactId>ArchiveServlet</servlet-artifactId>
    <url-pattern>/org.kie.workbench.KIEWebapp/archive</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-artifactId>ScoreCardFileServlet</servlet-artifactId>
    <servlet-class>org.drools.workbench.screens.scorecardxls.backend.server.ScoreCardXLSFileServlet</servlet-class>
    <init-param>
      <param-artifactId>includes-path</param-artifactId>
      <param-value>git://**,default://**</param-value>
    </init-param>
    <init-param>
      <param-artifactId>excludes-path</param-artifactId>
      <param-value>file://**</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-artifactId>ScoreCardFileServlet</servlet-artifactId>
    <url-pattern>/org.kie.workbench.KIEWebapp/scorecardxls/file</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-artifactId>M2Servlet</servlet-artifactId>
    <servlet-class>org.guvnor.m2repo.backend.server.M2Servlet</servlet-class>
    <init-param>
      <param-artifactId>includes-path</param-artifactId>
      <param-value>git://**,default://**</param-value>
    </init-param>
    <init-param>
      <param-artifactId>excludes-path</param-artifactId>
      <param-value>file://**</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-artifactId>M2Servlet</servlet-artifactId>
    <url-pattern>/maven2/*</url-pattern>
  </servlet-mapping>

  <!-- Errai servlets -->
  <servlet>
    <!-- NOTE: the integration-test profile uses this web.xml. Integration tests only work properly
with the DefaultBlockingServlet. If you change this setting, make a backup of this web.xml
(perhaps under src/integration-test-settings/web.xml and alter the integration-test
profile in pom.xml to use that. -->
    <servlet-artifactId>ErraiServlet</servlet-artifactId>
    <servlet-class>org.jboss.errai.bus.server.servlet.DefaultBlockingServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-artifactId>ErraiServlet</servlet-artifactId>
    <url-pattern>*.erraiBus</url-pattern>
  </servlet-mapping>

  <resource-env-ref>
    <description>Object factory for the CDI Bean Manager</description>
    <resource-env-ref-artifactId>BeanManager</resource-env-ref-artifactId>
    <resource-env-ref-type>javax.enterprise.inject.spi.BeanManager</resource-env-ref-type>
  </resource-env-ref>

  <resource-env-ref>
    <description>Object factory for the Errai Service</description>
    <resource-env-ref-artifactId>ErraiService</resource-env-ref-artifactId>
    <resource-env-ref-type>org.jboss.errai.bus.server.service.ErraiService</resource-env-ref-type>
  </resource-env-ref>

  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>

  <!-- Designer -->
  <!-- Designer Injection Filter -->
  <filter>
    <filter-artifactId>Designer Injection Filter</filter-artifactId>
    <filter-class>org.jbpm.designer.filter.DesignerInjectionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-artifactId>Designer Injection Filter</filter-artifactId>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter>
    <filter-artifactId>Redirect Filter</filter-artifactId>
    <filter-class>org.jbpm.designer.filter.DesignerResourcesRedirectFilter</filter-class>
    <init-param>
      <param-artifactId>redirectTo</param-artifactId>
      <param-value>/org.kie.workbench.KIEWebapp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-artifactId>Redirect Filter</filter-artifactId>
    <url-pattern>/org.jbpm.designer.jBPMDesigner/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-artifactId>Pluggable Filter</filter-artifactId>
    <filter-class>org.jbpm.designer.web.filter.impl.PluggableFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-artifactId>Pluggable Filter</filter-artifactId>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <display-artifactId>Resource List</display-artifactId>
    <servlet-artifactId>ResourceList</servlet-artifactId>
    <servlet-class>org.jbpm.designer.server.ResourceList</servlet-class>
  </servlet>
  <servlet>
    <display-artifactId>Oryx Editor Handler</display-artifactId>
    <servlet-artifactId>EditorHandler</servlet-artifactId>
    <servlet-class>org.jbpm.designer.server.EditorHandler</servlet-class>
    <init-param>
      <param-artifactId>designer.dev</param-artifactId>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-artifactId>designer.preprocess</param-artifactId>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-artifactId>designer.locale</param-artifactId>
      <param-value>en</param-value>
    </init-param>
    <init-param>
      <param-artifactId>designer.skin</param-artifactId>
      <param-value>default</param-value>
    </init-param>
  </servlet>
  <servlet>
    <display-artifactId>Menu Connector Servlet</display-artifactId>
    <servlet-artifactId>MenuConnectorServlet</servlet-artifactId>
    <servlet-class>org.jbpm.designer.web.server.menu.MenuConnectorServlet</servlet-class>
  </servlet>
  <servlet>
    <display-artifactId>Menu Servlet</display-artifactId>
    <servlet-artifactId>MenuServlet</servlet-artifactId>
    <servlet-class>org.jbpm.designer.web.server.menu.MenuServlet</servlet-class>
  </servlet>
  <servlet>
    <display-artifactId>UUID Based Repository</display-artifactId>
    <servlet-artifactId>UUIDBasedRepositoryServlet</servlet-artifactId>
    <servlet-class>org.jbpm.designer.web.server.UUIDBasedRepositoryServlet</servlet-class>
    <init-param>
      <param-artifactId>factoryName</param-artifactId>
      <param-value>jbpm</param-value>
    </init-param>
  </servlet>
  <servlet>
    <display-artifactId>Transformer</display-artifactId>
    <servlet-artifactId>TransformerServlet</servlet-artifactId>
    <servlet-class>org.jbpm.designer.web.server.TransformerServlet</servlet-class>
  </servlet>
  <servlet>
    <display-artifactId>AssetService</display-artifactId>
    <servlet-artifactId>AssetServiceServlet</servlet-artifactId>
    <servlet-class>org.jbpm.designer.repository.servlet.AssetServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <display-artifactId>FileStore</display-artifactId>
    <servlet-artifactId>FileStoreServlet</servlet-artifactId>
    <servlet-class>org.jbpm.designer.web.server.FileStoreServlet</servlet-class>
  </servlet>
  <servlet>
    <display-artifactId>Dictionary</display-artifactId>
    <servlet-artifactId>DictionaryServlet</servlet-artifactId>
    <servlet-class>org.jbpm.designer.web.server.DictionaryServlet</servlet-class>
  </servlet>
  <servlet>
    <display-artifactId>Themes</display-artifactId>
    <servlet-artifactId>ThemesServlet</servlet-artifactId>
    <servlet-class>org.jbpm.designer.web.server.ThemeServlet</servlet-class>
  </servlet>
  <servlet>
    <display-artifactId>CustomEditors</display-artifactId>
    <servlet-artifactId>CustomEditorsServlet</servlet-artifactId>
    <servlet-class>org.jbpm.designer.web.server.CustomEditorsServlet</servlet-class>
  </servlet>
  <servlet>
    <display-artifactId>Simulation</display-artifactId>
    <servlet-artifactId>SimulationServlet</servlet-artifactId>
    <servlet-class>org.jbpm.designer.web.server.SimulationServlet</servlet-class>
  </servlet>
  <servlet>
    <display-artifactId>FormWidget</display-artifactId>
    <servlet-artifactId>FormWidgetServlet</servlet-artifactId>
    <servlet-class>org.jbpm.designer.web.server.FormWidgetServlet</servlet-class>
  </servlet>
  <servlet>
    <display-artifactId>CalledElement</display-artifactId>
    <servlet-artifactId>CalledElementServlet</servlet-artifactId>
    <servlet-class>org.jbpm.designer.web.server.CalledElementServlet</servlet-class>
  </servlet>
  <servlet>
    <display-artifactId>StencilPatterns</display-artifactId>
    <servlet-artifactId>StencilPatternsServlet</servlet-artifactId>
    <servlet-class>org.jbpm.designer.web.server.StencilPatternsServlet</servlet-class>
  </servlet>
  <servlet>
    <display-artifactId>JbpmServiceRepository</display-artifactId>
    <servlet-artifactId>JbpmServiceRepositoryServlet</servlet-artifactId>
    <servlet-class>org.jbpm.designer.web.server.JbpmServiceRepositoryServlet</servlet-class>
  </servlet>
  <servlet>
    <display-artifactId>ProcessDiffService</display-artifactId>
    <servlet-artifactId>ProcessDiffServiceServlet</servlet-artifactId>
    <servlet-class>org.jbpm.designer.web.server.ProcessDiffServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <display-artifactId>Taskforms</display-artifactId>
    <servlet-artifactId>TaskformsServlet</servlet-artifactId>
    <servlet-class>org.jbpm.designer.web.server.TaskFormsServlet</servlet-class>
  </servlet>
  <servlet>
    <display-artifactId>TaskformsEditor</display-artifactId>
    <servlet-artifactId>TaskFormsEditorServlet</servlet-artifactId>
    <servlet-class>org.jbpm.designer.web.server.TaskFormsEditorServlet</servlet-class>
  </servlet>
  <servlet>
    <display-artifactId>ProcessInfo</display-artifactId>
    <servlet-artifactId>ProcessInfoServlet</servlet-artifactId>
    <servlet-class>org.jbpm.designer.web.server.ProcessInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <display-artifactId>SyntaxChecker</display-artifactId>
    <servlet-artifactId>SyntaxCheckerServlet</servlet-artifactId>
    <servlet-class>org.jbpm.designer.web.server.SyntaxCheckerServlet</servlet-class>
  </servlet>
  <servlet>
    <display-artifactId>Plugin Service Servlet</display-artifactId>
    <servlet-artifactId>PluginServiceServlet</servlet-artifactId>
    <servlet-class>org.jbpm.designer.web.plugin.impl.PluginServiceServlet</servlet-class>
    <init-param>
      <param-artifactId>factoryName</param-artifactId>
      <param-value>jbpm</param-value>
    </init-param>
  </servlet>
  <servlet>
    <display-artifactId>StencilSet Service Servlet</display-artifactId>
    <servlet-artifactId>StencilSetServiceServlet</servlet-artifactId>
    <servlet-class>org.jbpm.designer.web.stencilset.impl.StencilSetServiceServlet</servlet-class>
    <init-param>
      <param-artifactId>defaultName</param-artifactId>
      <param-value>bpmn2.0jbpm</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-artifactId>ResourceList</servlet-artifactId>
    <url-pattern>/resourceList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-artifactId>EditorHandler</servlet-artifactId>
    <url-pattern>/editor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-artifactId>EditorHandler</servlet-artifactId>
    <url-pattern>/editor/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-artifactId>MenuConnectorServlet</servlet-artifactId>
    <url-pattern>/menuconnector/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-artifactId>MenuServlet</servlet-artifactId>
    <url-pattern>/menu/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-artifactId>UUIDBasedRepositoryServlet</servlet-artifactId>
    <url-pattern>/uuidRepository</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-artifactId>TransformerServlet</servlet-artifactId>
    <url-pattern>/transformer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-artifactId>AssetServiceServlet</servlet-artifactId>
    <url-pattern>/assetservice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-artifactId>FileStoreServlet</servlet-artifactId>
    <url-pattern>/filestore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-artifactId>DictionaryServlet</servlet-artifactId>
    <url-pattern>/dictionary</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-artifactId>ThemesServlet</servlet-artifactId>
    <url-pattern>/themes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-artifactId>CustomEditorsServlet</servlet-artifactId>
    <url-pattern>/customeditors</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-artifactId>SimulationServlet</servlet-artifactId>
    <url-pattern>/simulation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-artifactId>FormWidgetServlet</servlet-artifactId>
    <url-pattern>/formwidget</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-artifactId>CalledElementServlet</servlet-artifactId>
    <url-pattern>/calledelement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-artifactId>StencilPatternsServlet</servlet-artifactId>
    <url-pattern>/stencilpatterns</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-artifactId>JbpmServiceRepositoryServlet</servlet-artifactId>
    <url-pattern>/jbpmservicerepo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-artifactId>ProcessDiffServiceServlet</servlet-artifactId>
    <url-pattern>/processdiff</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-artifactId>TaskformsServlet</servlet-artifactId>
    <url-pattern>/taskforms</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-artifactId>TaskFormsEditorServlet</servlet-artifactId>
    <url-pattern>/taskformseditor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-artifactId>ProcessInfoServlet</servlet-artifactId>
    <url-pattern>/processinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-artifactId>SyntaxCheckerServlet</servlet-artifactId>
    <url-pattern>/syntaxcheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-artifactId>PluginServiceServlet</servlet-artifactId>
    <url-pattern>/plugins</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-artifactId>PluginServiceServlet</servlet-artifactId>
    <url-pattern>/plugin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-artifactId>PluginServiceServlet</servlet-artifactId>
    <url-pattern>/plugin/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-artifactId>StencilSetServiceServlet</servlet-artifactId>
    <url-pattern>/stencilset/*</url-pattern>
  </servlet-mapping>

  <!-- the number within the session-timout element must be expressed in
minutes. it is now 24 hours. -->
  <session-config>
    <session-timeout>1440</session-timeout>
  </session-config>
  <!-- jBoss' default mapping is to "image/svg", which causes the client
not to parse the SVG content as XML. However, the Oryx Editor client relies
on that behaviour. The mimetype as per W3C specification must be "image/svg+xml".
See http://www.w3.org/TR/SVG/intro.html#MIMEType. -->
  <mime-mapping>
    <extension>svg</extension>
    <mime-type>image/svg+xml</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>json</extension>
    <mime-type>application/json</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>css</extension>
    <mime-type>text/css</mime-type>
  </mime-mapping>
  <!-- Set Favourites Icon MIME-Type -->
  <mime-mapping>
    <extension>ico</extension>
    <mime-type>image/x-icon</mime-type>
  </mime-mapping>
  <!-- end designer -->

  <!-- start form-modeler -->
  <servlet>
    <servlet-artifactId>Controller</servlet-artifactId>
    <servlet-class>org.jbpm.formModeler.service.bb.mvc.controller.ControllerServlet</servlet-class>
    <init-param>
      <param-artifactId>base.app.dir</param-artifactId>
      <param-value>${project.basedir}/target/${project.artifactId}-${project.version}</param-value>
    </init-param>
  </servlet>


  <servlet-mapping>
    <servlet-artifactId>Controller</servlet-artifactId>
    <url-pattern>/org.kie.workbench.KIEWebapp/Controller</url-pattern>
  </servlet-mapping>
  <!-- end form-modeler-->

  <resource-ref>
    <description>Console DS</description>
    <res-ref-artifactId>jdbc/jbpmConsoleDS</res-ref-artifactId>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <!-- Container based security -->

  <security-constraint>
    <web-resource-collection>
      <web-resource-artifactId>download</web-resource-artifactId>
      <url-pattern>/org.kie.workbench.KIEWebapp/archive</url-pattern>
      <url-pattern>/org.kie.workbench.KIEWebapp/defaulteditor/upload/*</url-pattern>
      <url-pattern>/org.kie.workbench.KIEWebapp/defaulteditor/download/*</url-pattern>
      <url-pattern>/org.kie.workbench.KIEWebapp/dtablexls/file</url-pattern>
      <url-pattern>/org.kie.workbench.KIEWebapp/scorecardxls/file</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-artifactId>admin</role-artifactId>
      <role-artifactId>analyst</role-artifactId>
      <role-artifactId>developer</role-artifactId>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-artifactId>console</web-resource-artifactId>
      <url-pattern>/kie-drools-wb.html</url-pattern>
      <url-pattern>*.erraiBus</url-pattern>
      <url-pattern>/org.kie.workbench.KIEWebapp/*</url-pattern>
      <url-pattern>/resourceList</url-pattern>
      <url-pattern>/editor</url-pattern>
      <url-pattern>/editor/*</url-pattern>
      <url-pattern>/menuconnector/*</url-pattern>
      <url-pattern>/menu/*</url-pattern>
      <url-pattern>/uuidRepository</url-pattern>
      <url-pattern>/transformer</url-pattern>
      <url-pattern>/assetservice</url-pattern>
      <url-pattern>/filestore</url-pattern>
      <url-pattern>/dictionary</url-pattern>
      <url-pattern>/themes</url-pattern>
      <url-pattern>/customeditors</url-pattern>
      <url-pattern>/simulation</url-pattern>
      <url-pattern>/formwidget</url-pattern>
      <url-pattern>/calledelement</url-pattern>
      <url-pattern>/stencilpatterns</url-pattern>
      <url-pattern>/jbpmservicerepo</url-pattern>
      <url-pattern>/processdiff</url-pattern>
      <url-pattern>/taskforms</url-pattern>
      <url-pattern>/taskformseditor</url-pattern>
      <url-pattern>/processinfo</url-pattern>
      <url-pattern>/syntaxcheck</url-pattern>
      <url-pattern>/plugins</url-pattern>
      <url-pattern>/plugin</url-pattern>
      <url-pattern>/plugin/*</url-pattern>
      <url-pattern>/stencilset/*</url-pattern>
      <url-pattern>/plugins/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-artifactId>admin</role-artifactId>
      <role-artifactId>analyst</role-artifactId>
      <role-artifactId>developer</role-artifactId>
      <role-artifactId>user</role-artifactId>
      <role-artifactId>manager</role-artifactId>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-artifactId>formModeler</web-resource-artifactId>
      <url-pattern>/formModeler/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-artifactId>admin</role-artifactId>
      <role-artifactId>analyst</role-artifactId>
      <role-artifactId>developer</role-artifactId>
      <role-artifactId>user</role-artifactId>
      <role-artifactId>manager</role-artifactId>
    </auth-constraint>
  </security-constraint>

  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/login.jsp?message=Login failed: Invalid UserName or Password</form-error-page>
    </form-login-config>
  </login-config>

  <error-page>
    <error-code>403</error-code>
    <location>/not_authorized.jsp</location>
  </error-page>

  <security-role>
    <description>Administrator - Administrates the BPMS system. Has full access
      rights to make any changes necessary. Also has the
      ability to add and remove users from the system.
    </description>
    <role-artifactId>admin</role-artifactId>
  </security-role>

  <security-role>
    <description>Analyst - Responsible for creating and designing processes
      into the system. Creates process flows and handles
      process change requests. Needs to test processes that
      they create. Also creates forms and dashboards.
    </description>
    <role-artifactId>analyst</role-artifactId>
  </security-role>

  <security-role>
    <description>Developer - Implements code required for process to work. Mostly uses
      the JBDS connection to view processes, but may use the
      web tool occasionally.
    </description>
    <role-artifactId>developer</role-artifactId>
  </security-role>

  <security-role>
    <description>Business user - Daily user of the system to take actions on business tasks
      that are required for the processes to continue forward. Works
      primarily with the task lists.
    </description>
    <role-artifactId>user</role-artifactId>
  </security-role>

  <security-role>
    <description>Manager/Viewer-only User - Viewer of the system that is interested in statistics
      around the business processes and their performance, business indicators, and other
      reporting of the system and people who interact with the system.
    </description>
    <role-artifactId>manager</role-artifactId>
  </security-role>

</web-app>
